* {
    margin: 0;
    padding: 0;
}

.snake-part {
    position: absolute;
    background: seagreen;
}

.seed {
    position: absolute;
    border-radius: 50%;
    background: chartreuse;
    transform: translate(-50%, -50%);
}

.panel {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    transition: top 0.3s;
}

.panel-hidden {
    top: 44%;
    visibility: hidden;
}

.score {
    text-align: center;
}